* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(61, 79, 104);
    text-align: center;
}

h2 {
    margin: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

button {
    margin: 10px;
    color: inherit;
    background-color: inherit;

    border-radius: inherit;
    box-shadow: none;
}

.flat-btns {
}

.round-btns {
    border-radius: 20px;
}

.big-btn {
    font-size: 1.2rem;
    padding: 12px 40px;
}

.flat-btns .big-btn {
    background-color: #05b86b;
    border: 1px solid #05b86b;
}

.flat-btns .medium-btn {
    background-color: #fd2728;
    border: 1px solid #fd2728;
}

.flat-btns .small-btn {
    background-color: #0a99e2;
    border: 1px solid #0a99e2;
}

.round-btns .big-btn {
    background-color: #f78401;
    border: 1px solid #f78401;
}

.round-btns .medium-btn {
    background-color: #f7d404;
    border: 1px solid #f7d404;
}

.round-btns .small-btn {
    background-color: #899799;
    border: 1px solid #899799;
}

.medium-btn {
    font-size: 1rem;
    padding: 7px 30px;
}

.small-btn {
    font-size: 0.8rem;
    padding: 5px 15px;
}
