* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header,
footer {
    padding: 1rem;
    background: rgb(207, 179, 117);
    color: whitesmoke;
    text-shadow: 0px 0px 10px lightgray;
    box-shadow: 0px 0px 10px dimgray;
}

img {
    border-radius: 30px;
}

footer {
    height: 55px;
    margin-top: 2rem;
}

nav {
    background-color: rgb(175, 155, 100);
    position: sticky;
    top: 0;
    width: 100%;
    height: 34px;
    border-radius: 0 0 5px 5px;
}

nav ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

nav li {
    display: inline-block;
    width: 24.4%;
    margin: auto 2px;
    padding: 4px;
    overflow-x: hidden;
    text-align: center;
    background-color: rgb(207, 179, 1);
    border-radius: 5px;
}

nav li > a {
    display: inline-block;
    width: 100%;
    padding: 5px auto;
    text-decoration: none;
    font-size: 22px;
    color: rgb(85, 69, 46);
}

main {
    height: fit-content;
    width: calc(90% - 1rem);
    padding: 2rem 5%;
}

.main_container {
    height: auto;
    min-height: 400px;
    max-height: 600px;
}

.card {
    padding: auto;
    min-height: 400px;
    max-height: 600px;
    height: 100%;
    background-color: rgb(247, 240, 220);
    border-radius: 3rem;
    box-shadow: 0px 5px 10px dimgray;
    text-align: center;
}

#about {
    width: 50%;
    float: left;
    font-size: 32px;
    font-family: "Dosis", sans-serif;
    text-align: justify;

    border: 1px darkslategray;
}

#about p {
    padding: 1rem;
    margin: 0;
}

#experience {
    width: 42.5%;
    float: right;
    font-size: 24px;
    font-family: "Dosis", sans-serif;

    border: 1px darkslategray;
}

#experience ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

#linux {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 900;
}

#social_media {
    display: inline;
    width: fit-content;
    border-radius: 10px;
    padding: 0;
}

#social_media li {
    display: inline;
    margin: 0 2rem;
    font-size: 1.2rem;
}

footer span {
    float: right;
    margin-right: 2rem;
}

.clr {
    clear: both;
    height: 0rem;
}
