* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

input[name="show-img"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: 2rem;
}

img {
    display: none;
}

.show {
    display: block;
}
