.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My components */
.box1,
.box2,
.box3,
.box4 {
  display: inline-block;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 2rem;
}

.box1 {
  background-color: #3aff89;
}

.box2 {
  background-color: #60c1ff;
}

.box3 {
  background-color: #ffa0b6;
}

.box4 {
  display: block;
  background-color: #f07abe;
  padding: 4rem 13rem;
  margin: 1rem 5rem;
}
