* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.box {
    position: relative;
    width: 10rem;
    margin: 3rem 1rem;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    border: 2px solid #000;
}

.translate {
    transition: all 0.5s ease-out;
}

.rotate::before,
.translate::before,
.translate-y::before,
.scale-opacity::before {
    content: "";
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    transition: all 0.5s ease-out;
}

.rotate::before {
    top: 0;
    left: 0;
    background: yellow;
    transform: rotate(-90deg);
    transform-origin: top left;
    z-index: -1;
    padding: 1rem;
}

.translate::before {
    top: 0;
    left: 0;
    background: #2d2c2e;
    transform: translateX(-100%);
    z-index: -1;
}

.translate-y::before {
    content: "YEAH!";
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: red;
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.scale-opacity::before {
    content: "Scale & Opacity";
    background: #2d2c2e;
    transform: scale(3);
    opacity: 0;
    color: white;
}

.rotate:hover::before {
    transform: rotate(0deg);
}

.translate:hover {
    color: white;
}

.translate:hover::before {
    transform: translateX(0);
}

.translate-y:hover::before {
    transform: translateY(0);
}

.scale-opacity:hover::before {
    transform: scale(1);
    opacity: 1;
}
