* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

nav {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    background-color: #f5f5f5;
    border: 1px solid #bbb;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    margin: 0 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 700px) {
    nav,
    nav ul {
        flex-direction: column;
        justify-content: center;
    }

    nav h3,
    nav ul li {
        margin: 1rem;
        text-align: center;
    }
}
