* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p {
    font-size: 100px;
}

@media (max-width: 300px) {
    .responsive-text p {
        font-size: 14px;
    }
}

@media (min-width: 301px) and (max-width: 500px) {
    .responsive-text p {
        font-size: 16px;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .responsive-text p {
        font-size: 20px;
    }
}

@media (min-width: 801px) {
    .responsive-text p {
        font-size: 26px;
    }
}
