* {
    padding: 0px;
    margin: 0.5rem;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 1rem 2rem;
}

.letter {
    border: 1px solid #000;
    padding: 2px;
}

.message {
    color: red;
}

.wrong-guesses__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
