* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.heading {
    color: #fff;
    position: relative;
    padding: 100px;
}

.heading::before,
.heading::after,
.heading h1::before,
.heading h1::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
}

.heading::before {
    left: 0;
    top: 0;
    border-top: 3px solid #f00;
    border-left: 3px solid #f00;
}

.heading::after {
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #f00;
    border-left: 3px solid #f00;
}

.heading h1::before {
    right: 0;
    top: 0;
    border-top: 3px solid #f00;
    border-right: 3px solid #f00;
}

.heading h1::after {
    right: 0;
    bottom: 0;
    border-bottom: 3px solid #f00;
    border-right: 3px solid #f00;
}
